<div class="container">
<form method="POST" action="/create" class="button-size">
<label for="textarea1"><h3>Order Here</h3></label>
  <textarea required id="textarea1" class="materialize-textarea" type="text" name="burger"></textarea>
  <button class="waves-effect waves-light btn" type="submit">Hurry Up Fast Food</button>
</form>
<br>
        {{!-- {{this.id}}. --}} 
      
        {{#each burgers}}
        <div class="row">
              <img src="../../assets/images/burgerBlack.jpeg">
                <span class="card-title"><p>{{this.burger}}</p></span>
                    <form action="/delete?_method=DELETE" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                            <button class="waves-effect waves-light btn" type="submit">Devour it!</button>
                    </form>
                    </div>
          {{/each}}
      

</div>


{{!-- <h2>Update</h2>
<form action="/update?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="movie" placeholder="movie"></textarea>
	<button type="submit">Update</button>
</form> --}}
